<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Ian Jackson</a>

    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-nav">
      <ul class="nav text-nowrap" style="margin-right: 5px;">
        <!-- resume -->
        <li class="nav-item social-icons">
          <a class="nav-link px-3" href="" ><i class="bi bi-file-earmark" style="color: white;"></i></a>
        </li>
        <!-- linkedin -->
        <li class="nav-item social-icons">
          <a class="nav-link px-3" href=""><i class="bi bi-linkedin" style="color: white;"></i></a>
        </li>
        <!-- github -->
        <li class="nav-item social-icons">
          <a class="nav-link px-3" href=""><i class="bi bi-github" style="color: white;"></i></a>
        </li>
        <!-- twitter -->
        <li class="nav-item social-icons">
          <a class="nav-link px-3" href=""><i class="bi bi-twitter" style="color: white;"></i></a>
        </li>
        <!-- instagram -->
        <li class="nav-item social-icons">
          <a class="nav-link px-3" href=""><i class="bi bi-instagram" style="color: white;"></i></a>
        </li>
      </ul>
    </div>
</header>