<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">
            <span class="align-text-bottom"></span>
            Homepage
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="align-text-bottom"></span>
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="align-text-bottom"></span>
            Experience
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="align-text-bottom"></span>
            Projects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="align-text-bottom"></span>
            Tutoring
          </a>
        </li>
      </ul>
    </div>
  </nav>