<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <!-- Intro -->
    <div class="row">
        <!-- Intro words -->
        <div class="col-12 col-md-6">
            <h1>Hello, I'm Ian Jackson</h1>
            <p>a Computer Engineering student at West Virginia University</p>
            <p>I am currently a junior pursuing a B.S. in Computer Engineering with an Area of Emphasis in Cybersecurity and Minors in Mathematics and Statistics. I love learning new things, traveling, and skiing.</p>
            <button>Learn More</button>
        </div>

        <!-- Pic of me -->
        <div class="col-12 col-md-6">
            <img src="../../../assets/img/me01.jpeg" class="img-fluid" alt="Ian Jackson">
        </div>
    </div>
</main>